.header{
    background-color: #1f2937;
}



.header-links{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
     height: 300px;
    color: red;
   
   
    
}

#header-logo{
    display: flex;
    margin-right: 150px;
    align-items: left;
    color: white;
    font-size: 18px;
}

.main-title{
    display: flex;
    margin-left: 100px;

}


.main-title h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;

}

#main-picture{
    height: 300px;
    width: 600px;
    margin-left: 50px;
}

.main-title p{
    font-size: 18px;
    margin-top: auto;
    margin-right: 300px;
    color:#e5e7eb;
}

#sign-in-button{
    padding: 10px 20px;
    margin: auto;
    display: flex;
    margin-left: 60px;
    background-color: #3882f6;
    border: none;
    border-radius: 10px;
    
}






